:root {
    --very-pale-blue: hsl(225, 100%, 98%);
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --hover-blue: #756CF1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Red Hat Display", sans-serif;
    background: url("images/pattern-background-desktop.svg") no-repeat var(--pale-blue);
    background-size: cover;
}
main {
    width: 25rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main-img {
    max-width: 100%;
    height: 13.5rem;
    background-image: url(images/illustration-hero.svg);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
#main-text {
    margin: 2rem auto 0;
    text-align: center;
    width: 65%;
}
#main-text p:first-child {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
}
#main-text p:last-child {
    color: var(--desaturated-blue);
    line-height: 1.6;
}
#pricing {
    width: 80%;
    height: 6rem;
    margin: 1.5rem auto 0;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--very-pale-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pricing  div:nth-child(2){
    flex-basis: 45%;
    
}
#pricing-plan p:first-child {
    color: var(--dark-blue);
    font-weight: 700;
}
#pricing-plan p:last-child {
    color: var(--desaturated-blue);
    margin-top: 0.5rem;
}
#change:hover {
    text-decoration: none;
    color: var(--hover-blue);
}
#proceed {
    display: flex;
    justify-content: center;
    align-content: center;
}
#proceed button{
    width: 80%;
    height: 3.5rem;
    margin: 1.5rem auto 0;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 0.5rem;
    color: #FFF;
    font-size: 1.05rem;
    font-weight: 700;
    box-shadow: 0px 25px 10px rgba(218,213,245,0.4);
    cursor: pointer;
}
#proceed button:hover {
    background-color: var(--hover-blue);
}
#cancel {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem auto 0;
}
#cancel button {
    border: none;
    background: none;
    font-weight: 700;
    color: var(--desaturated-blue); 
    cursor: pointer;
}
#cancel button:hover {
    color: var(--dark-blue);
}